@model ProductCreateVM
@{
    ViewData["Title"] = "Create";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Product create</h6>
    </div>
    <div class="card-body">
        <form enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input class="form-control" asp-for="Name">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea class="form-control" asp-for="Description"></textarea>
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
            <div class="form-group">
                <label asp-for="File"></label>
                <input class="form-control" asp-for="File">
                <span class="text-danger" asp-validation-for="File"></span>
            </div>
            <div class="form-row">
                <div class="col">
                    <label asp-for="CostPrice"></label>
                    <input class="form-control" asp-for="CostPrice">
                    <span class="text-danger" asp-validation-for="CostPrice"></span>
                </div>
                <div class="col">
                    <label asp-for="SellPrice"></label>
                    <input class="form-control" asp-for="SellPrice">
                    <span class="text-danger" asp-validation-for="SellPrice"></span>
                </div>
                <div class="col">
                    <label asp-for="Discount"></label>
                    <input class="form-control" asp-for="Discount">
                    <span class="text-danger" asp-validation-for="Discount"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label asp-for="Quantity"></label>
                    <input class="form-control" asp-for="Quantity">
                    <span class="text-danger" asp-validation-for="Quantity"></span>
                </div>
                <div class="col">
                    <label asp-for="BrandId">Brands</label>
                    <select class="form-control" asp-for="BrandId" asp-items='new SelectList(ViewBag.Categories,"Id","Name")'>
                        <option disabled selected>Select brand</option>
                    </select>
                    <span class="text-danger" asp-validation-for="BrandId"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary my-2">Submit</button>
        </form>
    </div>
</div>
